<nav class="navbar navbar-expand-md navbar-dark bg-extend-color">
  <span
    class="navbar-brand"
    href="#"
  >Decathlon Staff Card Maker</span>

  <div
    class="collapse navbar-collapse"
    id="navbarsExampleDefault"
  >
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item dropdown">
        <span class="version">
          V0.99&nbsp;Beta
        </span>
      </li>
    </ul>
  </div>
</nav>

<main
  role="main"
  class="container"
>
  <form class="row">
    <div class="col-md-6">
      <div class="form-container">
        <div class="text-center mb-1">
          <img
            class="mb-4"
            src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg"
            alt=""
            width="72"
            height="72"
          >
          <h1 class="h3 mb-3 font-weight-normal">Your Staff Card Photo</h1>
          <p>

          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-container">
        <div class="text-center mb-1">
          <img
            class="mb-4"
            src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg"
            alt=""
            width="72"
            height="72"
          >
          <h1 class="h3 mb-3 font-weight-normal">Your Staff Card Information</h1>
          <p>
            1. Please upload the avatar you used for cropping.
            <br>
            2. Click Save button after filling out the information.
          </p>
        </div>

        <mat-form-field
          appearance="fill"
          hintLabel="Max 30 characters"
        >
          <mat-label>姓名</mat-label>
          <input
            #nameInput
            matInput
            placeholder="请在这里填入您的姓名"
            maxlength="30"
            required
          >
          <mat-hint align="end">{{nameInput.value?.length || 0}}/30</mat-hint>
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>

        <mat-form-field
          appearance="fill"
          hintLabel="Max 30 characters"
        >
          <mat-label>职务</mat-label>
          <input
            #jobInput
            matInput
            placeholder="请在这里填入您的职务"
            maxlength="30"
            required
          >
          <mat-hint align="end">{{jobInput.value?.length || 0}}/30</mat-hint>
          <mat-icon matSuffix>work</mat-icon>
        </mat-form-field>

        <mat-form-field
          appearance="fill"
          hintLabel="Max 30 characters"
        >
          <mat-label>职能</mat-label>
          <input
            #workInput
            matInput
            placeholder="请在这里填入您的职能"
            required
          >
          <mat-hint align="end">{{workInput.value?.length || 0}}/30</mat-hint>
          <mat-icon matSuffix>chat</mat-icon>
        </mat-form-field>

        <button
          class="btn btn-lg btn-primary btn-block"
          type="submit"
        >Save My Photo</button>
      </div>
    </div>
  </form>
</main>

<footer class="footer">
  <div class="text-center">
    &copy; 2019-2020 Decathlon. by Sandy XU
  </div>
</footer>